ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  text-align: left;
  width: 400px;
}
.mealsContainer {
  position: relative;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 200px;
  margin-right: 200px;
  background-color: white;
  padding: 1rem;
}
